<v-pane class="row acordeon  is-expanded">
	    <v-pane-header class="p" >
  	    <h2>{{titulo}}</h2>
        <h3 class="identificador">{{id}}</h3>
  	    <div class="wrapper-text-acordeon">
  	    
  	    </div>
	    </v-pane-header >

    <v-pane-content ng-class="{notReferente:showReferente}">
      <div class="content">
            <section class="referente row row-sm-equal-height"  ng-if="showReferente()">
              <div class="descripcion col-xs-12 col-sm-8 ">
                <span class="label"><span class="lnr icon-bubble"></span>Desarrollo temático</span>
                 <p ng-bind-html="text"></p>
              </div>
              <div class="col-xs-12 col-sm-4 no-padding " >
                <div class="wrapper-class">
                  <div class="buttom-referente"  ng-click="pdfModal()">
                    <div class="element-center">
                      <div>
                       <span class="lnr icon-file-empty"></span><p>Ver documento</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div ng-transclude></div>
       </div>
    </v-pane-content>
 </v-pane>