<div class="contenido">
	<a href=""></a>
	<header-menu imagen="{{imagenHeader}}" titulo="{{tituloModulo}}" autor-foto="{{fotoAutor}}"
		autor-nombre="{{nombreAutor}}" autor-descripcion="{{descripcionAutor}}">
	</header-menu>
	<!--<div class="wrapper-btnautor">
		<button class="btn-autor tareas-button" ng-class="{'canvas':canvas}" ng-if="hideCierre()"
			ng-click="pdfModal()"><span class="lnr icon-license"></span><span class="nombre">AUTOR</span></button>
	</div>-->
	<div class="wrapper-contenido container">
		<div class="load" ui-scrollpoint="+100px"><span class="loadw"></span></div>
		<div ng-if="hideCierre()">
			<separador texto="Introducción"></separador>
			<section class="row">
				<!--
				<div class="box col-sm-12  title-intro" ng-class="{'col-md-5': videoId.length > 0}">
					<div class="wrapper-intro" ng-class="{'no-video': videoId == null || videoId == 0}">
						<h1>{{pregunta}}</h1>
					</div>
				</div>
				-->
				<div class="box col-sm-12 col-md-12 no-padding video-intro" ng-if="videoId.length > 0">
					<vimeo url='{{videoId}}'></vimeo>
				</div>
			</section>
		</div>
		<div class="espacio40"></div>
		<v-accordion class="vAccordion--default" onexpand="expandCallback(index, id)"
			oncollapse="collapseCallback(index, id)">
			<div ng-transclude></div>
		</v-accordion>
	</div>
	<av-footer></av-footer>
</div>