<div class="row referente-footer row-md-equal-height" ng-if="hideReferente()">
	<button class="col-sm-6 ver-referente" ng-click="pdfModal()">
		<span class="lnr icon-file-add"></span>ver referente completo
	</button>
	<a class="col-sm-6 descargar-referente" href="{{referenteCompleto}}" download="{{enlaceDes}}"><span
			class="lnr icon-download"></span>descargar referente</a>
	<!-- <div class="col-sm-4 ir-tareas"><span class="lnr icon-graduation-hat"></span>Ir a tareas y evaluaciones</div> -->
</div>
<div class="row">
	<div class="btn-foot col-12 padding">
		<button ng-init="
			mindex = elem.index === 0 || elem.index === config.length -1 ? undefined: elem.index" ng-repeat="elem in getpage()"
			ng-click="siguiente(mindex ? elem.type + mindex: elem.type)" class="col-sm-6"
			ng-class="{'{{mindex ? 'item' + mindex: elem.type}}': true}">
			<span ng-if="elem" class="icon-foot lnr icon-arrow-right"></span>
			<p>{{elem.typeLabel + ' ' + mindex}}</p>
		</button>
	</div>
</div>
<!-- <div class="row" ng-if="noModules()">
	<div class="col-sm-6 no-padding button-prev">
		<button ng-click="anterior()" ng-if="hideAnterior()" class="{{previous()}}">
			<span class="icon-footer-left lnr icon-arrow-left"></span>{{labelPrevious()}}
		</button>
	</div>
	<div class="col-sm-6 no-padding button-next">
		<button ng-clgtick="siguiente()" ng-if="hidecierre()" class="{{future()}}">
			{{labelNext()}}
			<span class="icon-footer-right lnr icon-arrow-right"></span>
		</button>
		<a href="{{tareasLoad()}}" ng-if="tareas()" target="_blank"><button class="tareas">
				{{labelNext()}}
				<span class="icon-footer-right lnr icon-graduation-hat"></span></button></a>
	</div>
</div>
<div class="row" ng-if="modules()">
	<div class="col-sm-4 no-padding button-prev">
		<button ng-click="anterior()" class="{{previous()}}">
			<span class="icon-footer-left lnr icon-arrow-right"></span>{{labelPrevious()}}
		</button>
	</div>
	<div class="col-sm-4 no-padding button-next">
		<a href="{{tareasLoad()}}" target="_blank"><button class="tareas">Evaluación de desempeño</button>
		</a>
	</div>
	<div class="col-sm-4 no-padding button-next">
		<button ng-click="siguiente()" class="{{future()}}">
			{{labelNext()}}
			<span class="icon-footer-right lnr icon-arrow-right"></span>
		</button>
	</div>
</div> -->