<div class="wrapper-header">
	<div class="headerMenu" style="background-image: url({{$ctrl.imagen}});" ng-if="!ifCierre()">
		
		<div class="back"></div>
		<div class="back2"></div>
		<div class="wrapper-text">
			<div class="titulos">
				<p ng-init="mindex = page.index === 0 || eje === 'cierre' ? undefined: page.index"
					class="num-eje uppercase" ng-if="eje">
					{{eje + ' ' + mindex}}
				</p>
				<p class="nombre-eje" ng-if="page.type_context">{{nombreEje}}</p>
			</div>
			<h2>{{$ctrl.titulo}}</h2>
		</div>
	</div>
	<div class="headerMenu cierreHeader" style="background-image: url({{$ctrl.imagen}});" ng-if="ifCierre()">
		
		<div class="back"></div>
		<div class="back2"></div>
		<div class="wrapper-text">
			<div class="titulos">
				<p class="num-eje uppercase" ng-bind-html="eje"></p>
				<p class="nombre-eje" ng-if="page.type_context">{{nombreEje}}</p>
			</div>
			<h1>¡ Felicidades !</h1>
			<h2>{{nombreUsuario}}</h2>
			<p class="description">
				<span class="titulo">Aquí finaliza la exploración de los contenidos de este espacio formativo. Es
					momento de revisar los aprendizajes adquiridos y realizar las actividades evaluativas
					pendientes</span>
			</p>
		</div>
	</div>
	<!-- build:img https://contenidos.areandina.edu.co/repo/aulamoodle/persianas/assets/images/header-title/logos.svg -->
	<div class="logos">
		<img src="https://contenidos.areandina.edu.co/repo/aulamoodle/persianas/assets/images/header-title/logos.svg"
			alt="" />
	</div>
	<!-- /build -->
</div>