<modal-notification></modal-notification>
<nav id="Anavigator" class="visible-lg-flex">
	<div ng-mouseenter="hover = true; alert('enter',item.index)" ng-mouseleave="hover = false; alert('out',item.index)"
		ng-class="{'animated': hover, 'open-item':hover}"
		ng-init="hover = false; mindex = item.index === 0 || item.index + 1 === homemenu.length ? undefined: item.index"
		ng-repeat="item in homemenu" class="Abarp" id="{{'Abar' +  (item.index + 1)}}"
		ng-style="{ width:( 100 / homemenu.length + '%' )}">
		<a ui-sref="{{item.type + (mindex ? item.index: undefined)}}">
			<div class="ejen1">
				<div>
					<p class="textEje uppercase">
						{{item.typeLabel + ' ' + mindex}}</p>
					<span></span>
					<p class="hesag"></p>
				</div>
				<h2 ng-if="item.type_context" ng-bind-html="item.assets.context_open"></h2>
			</div>
			<div class="ejen2">
				<div>
					<p class="textEje uppercase">
						{{item.typeLabel + ' ' + mindex}}
					</p>
					<h2 ng-if="item.type_context" ng-bind-html="item.assets.context"></h2>
				</div>
				<p class="lnr {{item.assets.small_icon}} icon-p"></p>
				<!-- <span name="{{'Abar' +  item.index}}" class="guia"></span> -->
				<p class="hesag"></p>
			</div>
			<!-- <p class="textF">con <br> cep <br> tua<br> lice <br>mos</p> -->
			<p ng-if="item.type_context" class="textF" ng-bind-html="item.assets.background"></p>
			<!-- build:[src] {{item.assets.icon}} -->
			<img ng-src='{{item.assets.icon}}' height="800" width="800" alt="{{item.assets.context}}">
			<!-- /build -->
			<div class="Imodulo">
				<p>Iniciar {{mindex ? typeLabel: undefined }}</p>
				<p class="lnr icon-arrow-right"></p>
			</div>
		</a>
	</div>
</nav>
<!--  -->
<!--  -->
<div class="hidden-lg movil-nav">
	<!--  -->
	<a ng-repeat="item in homemenu" ui-sref="{{item.type + (mindex ? item.index: undefined)}}"
		ng-init="hover = false; mindex = item.index === 0 || item.index + 1 === homemenu.length ? undefined: item.index"
		class="col-xs-6 movil-button {{mindex ? ('item' + item.index) : item.type }}">
		<img ng-src="{{item.assets.icon}}" alt="">
		<p class="lnr {{item.assets.small_icon}}"></p>
		<div class="fott">
			<span>{{item.typeLabel + ' ' + mindex}}</span>
			<h2 ng-bind-html="item.assets.context "></h2>
		</div>
	</a>
</div>
</div>
<!-- <div class="col-xs-6 hidden-xs" style="color:white">uno</div>
<div class="col-xs-6" style="color:white">dos</div> -->
<script>

	// $(".Abarp").hover(function () {
	// 	console.log("hover")
	// 	if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
	// 		console.log('Esto es un dispositivo móvil');
	// 	} else {
	// 		$(this).addClass('animated');
	// 		this.style.willChange = 'width, contents';
	// 		var guia = $(this).attr('id');
	// 		$("[name=" + guia + "]").addClass('oculto');
	// 	}

	// }, function () {
	// 	console.log("hover")
	// 	if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
	// 		console.log('Esto es un dispositivo móvil');
	// 	} else {
	// 		var guia = $(this).attr('id');
	// 		$(this).removeClass('animated');
	// 		this.style.willChange = 'width, contents';
	// 		$("[name=" + guia + "]").removeClass('oculto');
	// 	}
	// });

</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112992964-3"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-112992964-3');
</script>