<section class="lectura-recomendada row row-sm-equal-height">
	<div class="cap-titulo col-xs-12 col-md-4 no-padding titulo">
		<div>
            <p class="title-color-magenta">Lectura <span>recomendada</span></p>
        </div>
	</div>
	<div class="cap-texto col-xs-12 col-md-8 lectura">
		<h2>{{titulo}}</h2>
        <p ng-bind-html="text"></p>
        <!-- Boton pdf-->
        <div class="wrapper-buttom">
        	<button class="btn-cuadrado magenta btn-modal" ng-click="pdfModal()" ng-if="interno()">Ver lectura</button>
            <a class="btn-cuadrado magenta btn-modal" href="{{url}}" ng-if="externo()" target="_blank">Ver lectura</a>
        </div>
	</div>
</section>
