<div id='modal' class='wrapper-notification'>
	<div id='overlay' class='modal-notification'>
		<div class='cont' >
			<a href class='btn-close-n' ng-click='pdf.close()'><span class='lnr icon-cross'></span></a>
			<a target='_blank' ng-click='pdf.close()'  href='https://mooc.areandina.edu.co' class='desktop'>
				<img src='https://contenidos.areandina.edu.co/repo/aulacanvas/notifications/desktop.png'>
			</a>
			<a target='_blank' ng-click='pdf.close()' href='https://mooc.areandina.edu.co' class='movil'>
				<img src='https://contenidos.areandina.edu.co/repo/aulacanvas/notifications/movil.png'>
			</a>
		</div>
	</div> 
	<div id='fade' class='fade-notification'>
		<div class='preloader'>
		    <div class='dot'></div>
		    <div class='dot'></div>
		    <div class='dot'></div>
		</div>
	</div>
</div>