<div class="guiadot">
	<ul>
		<li class="nav_tab">
			<a ui-sref="inicio" ui-sref-active="active">
				<span class="dot" id="1"></span>
				<p>INICIO</p>
			</a>
		</li>
		<li>
			<a ui-sref="eje1" ui-sref-active="active">
				<span class="dot" id="2"></span>
				<p>EJE 1</p>
			</a>
		</li>
		<li>
			<a ui-sref="eje2" ui-sref-active="active">
				<span class="dot" id="3"></span>
				<p>EJE 2</p>
			</a>
		</li>
		<li>
			<a ui-sref="eje3" ui-sref-active="active">
				<span class="dot" id="4"></span>
				<p>EJE 3</p>
			</a>
		</li>
		<li>
			<a ui-sref="eje4" ui-sref-active="active">
				<span class="dot" id="5"></span>
				<p>EJE 4</p>
			</a>
		</li>
		<li>
			<a ui-sref="cierre" ui-sref-active="active">
				<span class="dot" id="6"></span>
				<p>CIERRE</p>
			</a>
		</li>
	</ul>
	<div>
	</div>