<section class="rubrica">
            <div class="componente-tablas">
                <table>
                  <thead>
                    <tr>
                      <th >Eje</th>
                      <th >Pregunta central </th>
                      <th >Competencias</th>
                      <th >Estrategias evaluativas</th>
                      <th >Actividades y recursos de aprendizaje </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td data-label="Eje de pensamiento" class="eje">
                            <p>1</p>
                        </td>
                        <td data-label="Pregunta central">
                            <p><strong>¿Qué discusiones existen sobre el desarrollo humano?</strong></p>
                        </td>
                        <td data-label="Competencias" rowspan="4">
                            <p><strong>Las 2 competencias explícitas del módulo son:</strong></p>
                            <p>Asume los derechos humanos como un marco de acción en su cotidianidad para afrontar y contribuir a la resolución de problemáticas contemporáneas puestas en contexto.</p>
                            <p>Reconozco y acepto el conflicto como un espacio potencializado de cambio a partir del disenso y el consenso, para la transformación del ser y la sociedad.</p>
                            <p>Estas competencias se abordarán de forma transversal en cada uno de los ejes. </p>
                        </td>
                        <td data-label="Estrategias evaluativas">
                            <p><strong>Tarea individual: </strong> en este eje la actividad está centrada en articular los discursos sobre el desarrollo y la capacidad del estudiante de comprenderlos a través de lo expuesto en el contenido. En este sentido, las actividades de refuerzo se basan los aspectos específicos que se relacionan con el desarrollo como un derecho humano y serán la clave de la efectividad del ejercicio. </p>
                        </td>
                        <td data-label="Actividades y recursos de aprendizaje ">
                            <ul>
                                <li>Revisión de videocápsulas.</li>
                                <li>Infografía. </li>
                                <li>Nube de palabras. </li>
                                <li>Lecturas Complementarias. </li>
                                <li>Actividad de repaso.  </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Eje de pensamiento" class="eje">
                            <p>2</p>
                        </td>
                        <td data-label="Pregunta central">
                            <p><strong>¿Qué papel cumple el Estado en la promoción del desarrollo humano de los ciudadanos en Colombia?</strong></p>
                        </td>
                        
                        <td data-label="Estrategias evaluativas">
                            <p><strong>Taller grupal:</strong> la actividad propuesta se ubica de forma tácita sobre la revisión del papel del Estado, considerando los conflictos cotidianos como un escenario óptimo donde se suscitan análisis sociocríticos de la realidad del estudiante. </p>
                        </td>
                        <td data-label="Actividades y recursos de aprendizaje ">
                            <ul>
                                <li>Revisión de videocápsulas. </li>
                                <li>Lecturas complementarias. </li>
                                <li>Actividad de repaso. </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Eje de pensamiento" class="eje">
                            <p>3</p>
                        </td>
                        <td data-label="Pregunta central">
                            <p><strong>¿Cuáles son sus aportes como ciudadano y estudiante (de un nivel profesional, técnico o tecnólogo) al desarrollo del país?</strong></p>
                        </td>
                       
                        <td data-label="Estrategias evaluativas">
                            <p><strong>Tarea individual:</strong> el requisito evaluativo tiende a explorar aquellas prácticas que están localizadas en los roles desde la formación académica y ciudadana; reconociendo ambos como transformadores sociales. </p>
                        </td>
                        <td data-label="Actividades y recursos de aprendizaje ">
                            <ul>
                                <li>Revisión de videocápsulas. </li>
                                <li>Nube de palabras. </li>
                                <li>Actividades de repaso. </li>
                                <li>Lecturas complementarias. </li>    
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Eje de pensamiento" class="eje">
                            <p>4</p>
                        </td>
                        <td data-label="Pregunta central">
                            <p><strong>¿Qué propuestas puedo plantear en mi entorno como ciudadano, para favorecer el desarrollo del país</strong></p>
                        </td>
                       
                        <td data-label="Estrategias evaluativas">
                            <p><strong>Taller grupal:</strong> la actividad evaluativa articula las visiones compartidas en relación al cambio y/o mejora de las condiciones de vida de los ciudadanos en un contexto inmediato. Para ello, se tendrá en cuenta los recursos que identifican los estudiantes en el conflicto y/o problemas sociales.  </p>
                        </td>
                        <td data-label="Actividades y recursos de aprendizaje ">
                           <ul>
                                <li>Revisión de videocápsulas.</li>
                                <li>Actividad de repaso.</li>
                                <li>Lecturas complementarias.</li>
                            </ul>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </section>
 