<section class="rubrica" style="display: inline-block;">
            <div class="componente-tablas tiempo-estimado">
                <table>
                  <thead>
                    <tr>
                      <th >TIPO DE ACTIVIDAD</th>
                      <th >HORAS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="actividad in actividades">
                         <td class="eje"><p><strong>{{actividad.title}}</strong></p></td>
                         <td><p>{{actividad.number}}</p></td>
                   </tr>
                  
                    <tr>
                        <td  class="eje">
                            <p class="texto-verde"><strong>Total horas</strong></p>
                        </td>
                        <td >
                            <p class="texto-verde"><strong>{{total}}</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td  class="eje">
                            <p class="texto-verde"><strong>Total de créditos</strong></p>
                        </td>
                        <td >
                            <p class="texto-verde"><strong>{{creditos}}</strong></p>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>
</section>