.hidden {
     opacity: 0;
     display: none !important;
}

av-footer {
     background: $azulOscuro;
     width: 100%;
     position: relative;
     bottom: 0;
     color: #fff;
     text-align: center;
     // margin-top: 60px;
     font-family: Brownstd;
     font-weight: 700;
     text-transform: uppercase;
     display: block;
     margin-top: 60px;



     & .row {
          margin-left: 0;
          margin-right: 0;
     }

     .inline-block {
          display: inline-block;
     }

     .button-next,
     .button-prev {
          background-image: url(#{$url-img}/pattern-button-footer.png);
          background-size: contain;
     }

     .btns-foot {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;


          .button-container {
               flex-grow: 2;
               display: flex;

               &.external {
                    flex-grow: 0;
               }
          }

          .arrow-text {
               display: flex;
               align-items: center;

               p {
                    margin-left: 20px;
                    margin-right: 20px;
               }
          }

          .button-footer {
               .icon-foot {
                    top: 74px;
                    font-size: 33px;
                    color: #3EC032;

                    @include prefix((transition: .3s all ease-in-out), webkit moz);
               }
          }

          .button-footer {
               width: 100%;
               background-image: url(#{$url-img}/pattern-button-footer.png);
               background-size: contain;
               display: flex;
               // flex-direction: row;
               align-items: center;


               p {
                    margin: 0;
                    padding: 0;
               }



               &.external {
                    background: $verdeInsti;
                    text-align: center;
                    justify-content: center;
                    color: $blanco;
                    padding: 0 30px;

                    &:hover {
                         background: $magentaInsti
                    }

                    .iconimg-foot,
                    .icon-foot {
                         display: none;
                    }
               }


               &:hover {
                    .iconimg-foot {
                         opacity: 1;
                    }

                    .iconimg-foot .wrapper-icon-foot {
                         transform: scale(1.1);
                    }
               }

               .iconimg-foot {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    overflow: hidden;
                    opacity: .5;
                    @include prefix((transition: .4s all ease-in-out), webkit moz);

                    .wrapper-icon-foot {
                         position: relative;
                         height: 100%;
                         width: auto;
                         transition: .4s transform ease-in-out;

                         img {
                              position: absolute;
                              top: 50%;
                              transform: translate3d(0, -50%, 0);
                              height: 130%;
                              width: auto;
                         }
                    }
               }

               &.right {
                    justify-content: flex-start;

                    &:hover .icon-foot {
                         @include prefix((transform: translateX(15px)), webkit moz);
                    }

                    .arrow-text {
                         margin-left: 5%;

                         span {
                              order: 2;
                              margin-left: 10px;
                         }

                         p {
                              order: 1;
                         }
                    }

                    .iconimg-foot {
                         .wrapper-icon-foot {
                              img {
                                   right: -20px;
                              }
                         }
                    }


               }

               &.left {
                    justify-content: flex-end;

                    &:hover .icon-foot {
                         @include prefix((transform: translateX(-15px)), webkit moz);
                    }

                    .arrow-text {
                         margin-right: 5%;

                         span {
                              order: 1;
                              margin-right: 10px;
                         }

                         p {
                              order: 2;
                         }
                    }

                    .iconimg-foot {
                         .wrapper-icon-foot {
                              img {
                                   left: -20px;
                              }
                         }
                    }

               }
          }
     }






     .referente-footer {
          &.row {
               margin-left: 0;
               margin-right: 0;
          }

          button {
               border: none;
               outline: none;
               cursor: pointer;
               font-size: 15px;

          }

          .ver-referente {
               border-right: 2px solid #141516;
          }

          .ver-referente,
          .descargar-referente {
               color: $azulOscuro;
               background: #d5dce0;
               padding: 24px 10px;
               transition: .3s background ease-in-out;
               -moz-transition: .3s background ease-in-out;
               -webkit-transition: .3s background ease-in-out;
               -o-transition: .3s background ease-in-out;

               &:hover,
               &:focus {
                    color: #1b4a17;
                    background: #babcbd;
               }

               &:hover span {
                    @include prefix((animation-name: bounce), webkit moz);
                    @include prefix((transform-origin: center bottom), webkit moz);
                    @include prefix((animation-duration: 1s), webkit moz);
                    @include prefix((animation-fill-mode: both), webkit moz);
               }

               & span {
                    display: block;
                    margin-bottom: 10px;
               }

               & span:before {
                    font-size: 25px;

               }

          }

     }

     a {
          display: block;

          &:hover .icon-footer {
               @include prefix((transform: translateX(15px)), webkit moz);
          }
     }

     .disable {
          button {
               pointer-events: none;
               background: #2b2828;
               color: #383535;

               .icon-footer-right,
               .icon-footer-left {
                    color: #383535;
               }

               &:hover {

                    // background:#969696;
                    .icon-footer-right,
                    .icon-footer-left {
                         @include prefix((transform: translateX(0)), webkit moz);
                    }
               }
          }
     }

     button {
          border-radius: 0;
          width: 100%;
          display: block;
          padding: 80px 0;
          color: $blanco;
          text-decoration: none;
          position: relative;
          background: none;
          border: none;
          outline: none;
          font-family: Brownstd;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 18px;
          cursor: pointer;
          border-right: 2px solid #032b42;
          @include prefix((transition: .4s background ease-in-out), webkit moz);

          &.tareas {
               background: #00ac18;
               padding-left: 0;
               text-align: center;

               &:hover,
               &:focus {
                    background: $magentaInsti;
               }

               .icon-footer-left,
               .icon-footer-right {
                    color: $blanco;
               }
          }

          // &:hover, &:focus{
          //     // background:#042743;
          // }

     }



}

@media(min-width: 900px) {
     av-footer {
          .btns-foot {
               flex-wrap: nowrap;
          }
     }

}