//global
// ../fonts
// http://operacionesvirtuales.com/fontcanvas

// ================ colors ============

$azulOscuro: #03304A;
$verdeInsti:#3EC032;
$verdeHover:#1f7917;
$magentaInsti:#E2147D;
$magentaHover:#a2105b;
$azulInsti:#1AA0E0;
$naranjaInsti:#F39B26;
$grismenu:#949fa7;
$blanco:#fbf9f9;
$grisFondo:#EBEBEB;
$grisVideos:#000;
$negro:#000;
$grisPdf:#4A4C54;

// ================ tipografia ============
//h1
$texth1:40px;
$texth1movil:30px;

$lineh1:.9;
$fonth1:areandina;
//h2
$fontsizeh2:22px;
$lineh1:1;
//h3
$fontsizeh3:20px;


// ================ body (areaContent) ============
$textbody:16px;
$interlineadoBody:1.2;
$fontbody:BrownStd;

// ================ url assets (areaContent) ============
//../images
//../fonts
$url-fonts:"https://contenidos.areandina.edu.co/repo/aulamoodle/persianas/assets/fonts";
$url-img:"https://contenidos.areandina.edu.co/repo/aulamoodle/persianas/assets/images";
 //$url-fonts:"../fonts";
 //$url-img:"../images";