@if $v-accordion-default-theme {
  /* Theme: default
   ***************************************/


  .vAccordion--default {

    v-accordion {
      margin-top: $v-accordion-spacing;
      padding-left: $v-accordion-spacing;
    }

    v-pane-content {
        &.notReferente{
           padding-bottom: 0;
           padding-top: 15px;
        }
        padding: 0 23px 0 40px;
        border-left: 2px dashed #3fbf33;
        margin-left: 12px;
        margin-top:-15px;
        padding-bottom: $v-accordion-spacing;
        opacity: 0;
        transform: translate3d(0, 0, 0);
        transition: opacity $v-pane-expand-animation-duration;
        .referente{
          .descripcion{
            padding:30px 10px 20px;
            .label{
              text-transform: uppercase;
              font-weight: 700;
              font-size: 12px;
              color: #E2147D;
              margin-bottom: 14px;
              margin-top: -22px;
              padding: 2px;
              display:block;
              span{
                font-size: 15px;
                margin-right: 10px;
                font-weight:700;
              }
            }
          }
          .wrapper-class{
            height:100%;
          }
          .buttom-referente{
            cursor:pointer;
            background:$verdeInsti;
            height:100%;
            width: 100%;
            position: relative;
            min-height:100px;
            @include prefix((
                   transition:.4s background ease-in-out
                 ), webkit moz);
            .element-center{
              position: absolute;
              top: 50%;
              left: 50%;
              @include prefix((
                   transform: translate(-50%,-50%)
                 ), webkit moz);
              div{
                color:$blanco;
                text-align:center;

              }
              span{
                font-size:45px;
              }
              p{
                padding: 5px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 1.4px;
              }
            }
            &:hover,
            &:focus
            {
              background:$verdeHover;
            }
            &:hover .element-center div{
              animation-name: bounceIn;
              animation-duration: .75s;
              color:$blanco;
            }
          }
        }
    }
    
    v-pane {
      // overflow: hidden;
          color:$azulOscuro;
      &.is-expanded {
        > v-pane-header {
          background: $azulOscuro;
          color:$blanco;

          h1,h2{
            color:$blanco;
          }

          &::after {
            transform: rotate(90deg);
            opacity: 0;
          }
          &::before {
            transform: rotate(0deg);
          }
        }
        > v-pane-content  {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
      &[disabled] v-pane-header {
        &::after,
        &::before {
          display: none;
        }
    	}
    }
    v-pane-header {
      padding: 41px 43px 36px 9px;
      border-left:103px solid $magentaInsti;
      margin-bottom: $v-accordion-spacing;
      transition: all $v-pane-hover-animation-duration;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      background: $blanco;
      border-radius: 28px 0 0 17px;
      z-index: 1;
       @include media(">=768px") { // TABLET EN ADELANTE
           border-left:165px solid $magentaInsti;
        }
      h2{
        font-size:20px;
        margin-bottom:0;
        @include media(">=768px") { // TABLET EN ADELANTE
          font-size:24px;
        }
      }
      h1,h2{
        text-transform: uppercase;
        color:$azulOscuro;
        font-weight: 300;
      }
      p{
        
      }
      .identificador{
        top:43%;
        left:-74px;
        font-size: 20px;
        position:absolute;
        color:$blanco;
         @include prefix((
                  transform: rotate(-11deg) translate(-50%,-50%) scale(.7)
                  ), webkit moz);
        @include media(">=768px") { // TABLET EN ADELANTE
           left:-108px;
             @include prefix((
                transform: rotate(-11deg) translate(-50%,-50%) scale(1)
           ), webkit moz);
        }
        &:before{
          content: "\e912";
          color:$blanco;
          font-size: 52px;
          z-index: 1;
          font-family: icomoon;
          font-weight:normal;
          position: absolute;
          top: -17px;
          left: -2px;
          @include prefix((
            transform: rotate(-11deg) 
          ), webkit moz);
         
        }
      }
      &:focus p {
        
      }

      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        width: 23px;
        height: 2px;
        background-color: $verdeInsti;
        transform-origin: 50% 50%;
        will-change: transform;
        transition: all $v-pane-hover-animation-duration;
      }

      &::before {
        transform: rotate(-90deg);
      }

      &:hover,
      &:focus {
        // color: $v-pane-hover-color;
        background:#eaeaea;
      }
    }
  }
}
